* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

#header {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 50%;
    background-image: url(https://cdn.discordapp.com/attachments/995889682418249751/1062365546403868692/image.png);
    background-repeat: none;
    background-size: cover;
}

.logo {
    display: flex;
    width: 100%;
    height: 25%;
    background-color: #000;
}

.nav {
    display: flex;
    padding-left: 30%;
}

.logo>img {
    max-width: 30%;
    height: fit-content;
}

.discount>img {
    max-width: fit-content;
    padding-left: 50%;
}

ul.nav {
    display: flex;
}

.nav>li {
    list-style-type: none;
    float: left;
    color: #fff;
}

.nav>li>a {
    text-decoration: none;
    display: block;
    text-indent: 20px;
    padding: 0px 20px;
    line-height: 50px;
    text-transform: uppercase;
    color: whitesmoke;
}

.nav>li>a:hover {
    display: block;
    background-color: rgba(83, 79, 79, 0.9);
}

ul.nav>li>ul.subnav>li {
    position: relative;
    list-style-type: none;
    height: 50px;
    width: 150px;
}

ul.nav>li>ul.subnav>li:hover {
    background-color: #666060;
}

ul.nav>li>ul.subnav li a {
    display: block;
    text-decoration: none;
    color: #dbd3d3;
    text-indent: 10px;
    line-height: 50px;
    border-bottom: 2px solid #b99563;
    display: none;
}

ul.nav>li>ul.subnav li a {
    display: block;
    text-decoration: none;
    color: #dbd3d3;
    text-indent: 10px;
    line-height: 50px;
    border-bottom: 2px solid #b99563;
    display: none;
}

ul.nav>li>ul.subnav li a:hover {
    display: block;
    background-color: #666060;
    color: #fff;
}

.nav>li:hover ul.subnav>li>a {
    display: block;
}

.sub {
    position: relative;
}

.subnav {
    position: absolute;
}

ul.nav>li>ul.subnav>li ul {
    list-style-type: none;
    position: absolute;
    width: 150px;
    left: 200px;
    top: 0;
    display: none;
}

ul.nav>li>ul.subnav>li:hover ul {
    display: block;
}

.bag {
    display: flex;
    padding-left: 10%;
}

ul.bag>li {
    text-decoration: none;
    text-align: none;
}

ul.bag>li>a {
    text-decoration: none;
    color: #f3efef;
    position: relative;
    font-size: 15px;
    padding: 10px;
}

ul.bag>li>a>span {
    position: absolute;
    right: -7px;
    top: -3px;
    color: #ddd42d;
    width: 13px;
    height: 13px;
    border-radius: 100%;
    text-align: center;
    font-size: 10px;
    padding: 2px 0px 0px 1px;
}

.headcontent {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-color: rgba(6, 5, 5, 0.753);
}

.headcontent>span {
    color: yellow;
    font-family: 'Dancing Script', cursive;
    font-weight: 100;
    font-size: 1em;
    padding-top: 10%;
}

.headcontent>p {
    max-width: 60%;
    color: whitesmoke;
    opacity: 0.5;
    text-align: center;
    padding-bottom: 10%;
}

.foot {
    width: 100%;
    height: 15%;
    background-color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
}

.foot>h3>a {
    text-decoration: none;
    color: whitesmoke;
}

.items {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 2.5%;
}

.subitem {
    margin: 2.5%;
    width: 30%;
    list-style: none;
    float: none;
    display: inline-block;
    vertical-align: top;
    border: 1px solid #aaaaaa;
}

.phara {
    max-width: 100%;
}

.cover {
    margin: 0;
    height: 50%;
    width: 30%;
    cursor: pointer;
    overflow: hidden;
    position: absolute;
    opacity: 0;
    color: whitesmoke;
}

.subitem>img {
    height: 50%;
    width: 100%;
}

.phara>span {
    color: rgb(185, 185, 54);
    font-size: medium;
    text-transform: uppercase;
}

.phara>p {
    padding: 5% 0 5% 0;
}

.button {
    padding-bottom: 5%;
}

.button>a {
    text-decoration: none;
    color: rgba(6, 5, 5, 0.753);
}