* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.buy {
    height: 56px;
    display: flex;
    background-color: #262626;
    position: fixed !important;
    top: 0;
    left: 0;
    right: 0;
}

.buy-1 {
    width: 12.5%;
}

.buy-1>img {
    width: 100%;
    height: 100%;
}

.buy-2 {
    width: 87.5%;
    display: flex;
    justify-content: end;
    margin-top: 10px;
    margin-right: 16px;
}

.buy-2>h3:hover {
    background-color: rgba(87, 124, 30, 0.781);
}

.buy-2>h3 {
    width: 100px;
    height: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: greenyellow;
    color: whitesmoke;
    border-radius: 8px;
    cursor: pointer;
}

.menu {
    display: flex;
    margin-top: 56px;
    height: 100px;
    background-color: #0B0807;
    border-bottom: 2px dotted wheat;
}

.menu-1 {
    width: 28%;
}

.menu-1>img {
    width: 100%;
    height: 100%;
}

.menu-2 {
    width: 48%;
}

.menu-2>ul {
    list-style: none;
    display: flex;
}

.menu-2>ul>li>a {
    text-decoration: none;
    color: whitesmoke;
    font-size: 16px;
}

.menu-2>ul>li {
    width: 16.6%;
    height: 16px;
    border-right: 2px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}

.menu-3 {
    width: 24%;
}

.menu-3>img {
    width: 100%;
    height: 100%;
}

.header {
    height: 390px;
    background-image: url(https://cdn.discordapp.com/attachments/995889682418249751/1062365546403868692/image.png);
    background-size: contain;
    background-size: cover;
    position: relative;
}

.content-in-header {
    position: absolute;
    top: 100px;
    left: 0;
    right: 0;
    height: 250px;
    background-color: rgba(6, 5, 5, 0.753);
    text-align: center;
}

.end-in-header>h3>a {
    text-decoration: none;
    color: whitesmoke;
}

.chu-mau {
    color: #b99563 !important;
    font-family: 'Sacramento', cursive;
    font-size: 18px;
    margin-top: 48px;
    letter-spacing: 0.9px;
}

.content-in-header>p {
    color: gray;
    font-size: 16px;
}

.end-in-header {
    height: 42px;
    background-color: #0B0807;
    margin-top: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content-main {
    margin-right: 188px;
    margin-left: 188px;
    display: flex;
    justify-content: space-between;
}

.main {
    width: 260px;
    height: 420px;
    background-color: #F9F9F9;
}

.main-1 {
    height: 75%;
}

.main-1>img {
    width: 100%;
    height: 100%;
    padding: 16px;
}

.main-2 {
    text-align: center;
    height: 10%;
}

.main-3 {
    height: 15%;
    text-align: center;
}

.main-3>p {
    color: #b99563;
    font-size: 16px;
    letter-spacing: 0.7px;
    font-family: 'Sacramento', cursive;
}

.main-1>img:hover {
    background-color: #755e3fb4;
}

.end-content {
    display: flex;
    justify-content: space-between;
    margin-left: 580px;
    margin-right: 580px;
}

.end-ct {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px double black;
    margin-bottom: 80px;
}

.end-ct:hover {
    background-color: #b99563;
    color: azure;
    cursor: pointer;
}

.footer {
    background-image: url('https://eyecix.com/html/hotmeal/images/footer-back-transparent.png');
    height: 700px;
}

.footer p {
    text-align: center;
    color: #849493;
    font-size: 18px;
    margin-top: 4px;
}

.footer-2 {
    display: flex;
    margin-left: 12.5%;
    margin-top: 40px;
}

.end-1,
.end-2,
.end-3 {
    width: 30%;
}

.footer h3 {
    color: aliceblue;
    font-size: large;
}

.footer .khac {
    font-size: 18px;
    color: #849493;
}

.price {
    padding-bottom: 30px;
    border-bottom: 2px dashed rgba(255, 255, 255, 0.1);
}

.end-2 .khac {
    margin-top: 30px !important;
}

.be {
    display: flex;
}

.nho-1,
.nho-2 {
    width: 50%;
}

.end-3 input {
    width: 100%;
    height: 40px;
    border: 2px dashed rgba(255, 255, 255, 0.1);
    margin-top: 30px;
}

.footer .khac:hover {
    color: #F9F9F9;
    cursor: pointer;
}