* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 100%;
    height: 100%;
}

#header {
    position: fixed;
    display: flex;
    flex-direction: column;
    padding-left: 30px;
}

a {
    color: #fff;
    text-transform: uppercase;
}

.logo {
    display: flex;
    align-items: center;
    margin-top: 0;
    width: 100%;
    height: 70px;
    margin-top: 0;
    justify-content: space-between;
}

.nav {
    display: flex;
    position: absolute;
    left: 60%;
    padding-top: 40%;
}

img {
    width: 100%;
    height: 100%;
}

.logo>img {
    max-width: 20%;
}

.discount>img {
    max-width: fit-content;
    padding-left: 50%;
}

ul.nav {
    display: flex;
}

.nav>li {
    list-style-type: none;
    float: left;
    color: #fff;
}

.nav>li>a {
    text-decoration: none;
    display: block;
    text-indent: 20px;
    padding: 0px 20px;
    line-height: 50px;
}

.nav>li>a:hover {
    display: block;
    background-color: rgba(83, 79, 79, 0.9);
}

ul.nav>li>ul.subnav>li {
    position: absolute;
    list-style-type: none;
    height: 50px;
    width: 150px;
}

ul.nav>li>ul.subnav li a {
    display: block;
    text-decoration: none;
    color: #dbd3d3;
    text-indent: 10px;
    line-height: 50px;
    border-bottom: 2px solid #b99563;
    display: none;
}

ul.nav>li>ul.subnav li a {
    display: block;
    text-decoration: none;
    color: #dbd3d3;
    text-indent: 10px;
    line-height: 50px;
    border-bottom: 2px solid #b99563;
    display: none;
}

ul.nav>li>ul.subnav li a:hover {
    display: block;
    background-color: #666060;
    color: #fff;
}

.nav>li:hover ul.subnav>li>a {
    display: block;
}

ul.nav>li>ul.subnav>li {
    position: relative;
}

ul.nav>li>ul.subnav>li ul {
    list-style-type: none;
    position: absolute;
    width: 150px;
    left: 200px;
    top: 0;
    display: none;
}

ul.nav>li>ul.subnav>li:hover ul {
    display: block;
}

.bag {
    display: flex;
    margin-right: -150%;
}

ul.bag>li {
    text-decoration: none;
    text-align: none;
}

ul.bag>li>a {
    position: relative;
    font-size: 15px;
    color: #fff;
    padding: 10px;
}

ul.bag>li>a>span {
    position: absolute;
    right: -7px;
    top: -3px;
    color: #ddd42d;
    width: 13px;
    height: 13px;
    border-radius: 100%;
    text-align: center;
    font-size: 10px;
    padding: 2px 0px 0px 1px;
}

.content {
    color: #fff;
    padding-left: 8%;
    height: fit-content;
}

span {
    color: yellow;
    font-family: 'Dancing Script', cursive;
    font-weight: 100;
}

h1 {
    font-family: 'Rubik Mono One', sans-serif;
    padding: 10px;
    font-size: 50px;
}

h2 {
    font-family: 'Comfortaa', cursive;
    font-size: 30px;
    padding-bottom: 10px;
}

.button {
    display: flex;
    max-width: 40%;
    padding-top: 10px;
    justify-content: space-between;
}

button:hover {
    color: #ff0000;
    background-color: antiquewhite;
}

button {
    border: 2px solid #fff;
    height: 25px;
}